
001 Media Engine To HWND/WindowsProject1/x64/sample.avi
001 Media Engine To HWND/WindowsProject1/x64/Debug/WindowsProject1.tlog/WindowsProject1.lastbuildstate
001 Media Engine To HWND/WindowsProject1/x64/Debug/WindowsProject1.tlog/rc.write.1.tlog
001 Media Engine To HWND/WindowsProject1/x64/Debug/WindowsProject1.tlog/rc.read.1.tlog
001 Media Engine To HWND/WindowsProject1/x64/Debug/WindowsProject1.tlog/rc.command.1.tlog
001 Media Engine To HWND/WindowsProject1/x64/Debug/WindowsProject1.tlog/link.write.1.tlog
001 Media Engine To HWND/WindowsProject1/x64/Debug/WindowsProject1.tlog/link.read.1.tlog
001 Media Engine To HWND/WindowsProject1/x64/Debug/WindowsProject1.tlog/link.command.1.tlog
001 Media Engine To HWND/WindowsProject1/x64/Debug/WindowsProject1.tlog/CL.write.1.tlog
001 Media Engine To HWND/WindowsProject1/x64/Debug/WindowsProject1.tlog/CL.read.1.tlog
001 Media Engine To HWND/WindowsProject1/x64/Debug/WindowsProject1.tlog/CL.command.1.tlog
001 Media Engine To HWND/WindowsProject1/x64/Debug/WindowsProject1.res
001 Media Engine To HWND/WindowsProject1/x64/Debug/WindowsProject1.obj
001 Media Engine To HWND/WindowsProject1/x64/Debug/WindowsProject1.log
001 Media Engine To HWND/WindowsProject1/x64/Debug/WindowsProject1.ilk
001 Media Engine To HWND/WindowsProject1/x64/Debug/WindowsProject1.exe.recipe
001 Media Engine To HWND/WindowsProject1/x64/Debug/vc143.pdb
001 Media Engine To HWND/WindowsProject1/x64/Debug/vc143.idb
001 Media Engine To HWND/WindowsProject1/x64/Debug/sample.avi
003 Media engine DX + Win32/x64/Debug/Tutorial01.exe
003 Media engine DX + Win32/x64/Debug/Tutorial01.exe.recipe
003 Media engine DX + Win32/x64/Debug/Tutorial01.ilk
003 Media engine DX + Win32/x64/Debug/Tutorial01.obj
003 Media engine DX + Win32/x64/Debug/Tutorial01.pdb
003 Media engine DX + Win32/x64/Debug/Tutorial01.res
003 Media engine DX + Win32/x64/Debug/Tutorial01.tlog/CL.command.1.tlog
003 Media engine DX + Win32/x64/Debug/Tutorial01.tlog/CL.read.1.tlog
003 Media engine DX + Win32/x64/Debug/Tutorial01.tlog/CL.write.1.tlog
003 Media engine DX + Win32/x64/Debug/Tutorial01.tlog/link.command.1.tlog
003 Media engine DX + Win32/x64/Debug/Tutorial01.tlog/link.read.1.tlog
003 Media engine DX + Win32/x64/Debug/Tutorial01.tlog/link.write.1.tlog
003 Media engine DX + Win32/x64/Debug/Tutorial01.tlog/rc.command.1.tlog
003 Media engine DX + Win32/x64/Debug/Tutorial01.tlog/rc.read.1.tlog
003 Media engine DX + Win32/x64/Debug/Tutorial01.tlog/rc.write.1.tlog
003 Media engine DX + Win32/x64/Debug/Tutorial01.tlog/Tutorial01.lastbuildstate
003 Media engine DX + Win32/x64/Debug/Tutorial01_2019.log
003 Media engine DX + Win32/x64/Debug/Tutorial01_2019.vcxproj.FileListAbsolute.txt
003 Media engine DX + Win32/x64/Debug/vc143.idb
003 Media engine DX + Win32/x64/Debug/vc143.pdb
003 Media engine DX + Win32/x64/Release/Tutorial01.exe.recipe
003 Media engine DX + Win32/x64/Release/Tutorial01.iobj
003 Media engine DX + Win32/x64/Release/Tutorial01.ipdb
003 Media engine DX + Win32/x64/Release/Tutorial01.obj
003 Media engine DX + Win32/x64/Release/Tutorial01.res
003 Media engine DX + Win32/x64/Release/Tutorial01.tlog/CL.command.1.tlog
003 Media engine DX + Win32/x64/Release/Tutorial01.tlog/CL.read.1.tlog
003 Media engine DX + Win32/x64/Release/Tutorial01.tlog/CL.write.1.tlog
003 Media engine DX + Win32/x64/Release/Tutorial01.tlog/link.command.1.tlog
003 Media engine DX + Win32/x64/Release/Tutorial01.tlog/link.read.1.tlog
003 Media engine DX + Win32/x64/Release/Tutorial01.tlog/link.write.1.tlog
003 Media engine DX + Win32/x64/Release/Tutorial01.tlog/rc.command.1.tlog
003 Media engine DX + Win32/x64/Release/Tutorial01.tlog/rc.read.1.tlog
003 Media engine DX + Win32/x64/Release/Tutorial01.tlog/rc.write.1.tlog
003 Media engine DX + Win32/x64/Release/Tutorial01.tlog/Tutorial01.lastbuildstate
003 Media engine DX + Win32/x64/Release/Tutorial01_2019.log
003 Media engine DX + Win32/x64/Release/vc143.pdb
003 Media engine DX + Win32/.vs/Tutorial01_2019/v17/Browse.VC.db
003 Media engine DX + Win32/.vs/Tutorial01_2019/v17/ipch/AutoPCH/7c89b1253fe79a76/TUTORIAL01.ipch
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/VideoView.obj
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/vc143.pdb
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/unfiltered.layout.resfiles.intermediate
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/unfiltered.layout.resfiles
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/resources.resfiles.intermediate
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/resources.resfiles
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/ResourceHandlingTask.state
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/qualifiers.txt.intermediate
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/qualifiers.txt
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/ProjectArchitectures.txt
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/priconfig.xml.intermediate
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/priconfig.xml
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/pri.resfiles.intermediate
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/pri.resfiles
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/pch.obj
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MultipleQualifiersPerDimensionFound.txt
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlayer.obj
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative/resources.pri
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative/MEPlaybackNative.winmd
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative/MEPlaybackNative.pdb
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative/MEPlaybackNative.exe
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative/MEPlaybackNative.build.appxrecipe
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative/AppxManifest.xml
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative/AppX/vs.appxrecipe
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative/AppX/storeLogo-sdk.png
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative/AppX/squareTile-sdk.png
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative/AppX/Splash-sdk.png
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative/AppX/smalltile-sdk.png
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative/AppX/resources.pri
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative/AppX/MEPlaybackNative.winmd
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative/AppX/MEPlaybackNative.exe
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative/AppX/AppxManifest.xml
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative.vcxproj.FileListAbsolute.txt
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative.vcxproj.AssemblyReference.cache
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative.tlog/MEPlaybackNative.write.1u.tlog
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative.tlog/MEPlaybackNative.read.1u.tlog
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative.tlog/MEPlaybackNative.lastbuildstate
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative.tlog/link.write.1.tlog
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative.tlog/link.read.1.tlog
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative.tlog/link.command.1.tlog
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative.tlog/CL.write.1.tlog
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative.tlog/CL.read.1.tlog
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative.tlog/CL.command.1.tlog
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative.pch
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative.log
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative.ipdb
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative.iobj
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/MEPlaybackNative.Build.CppClean.log
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/Main.obj
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/FrameworkView.obj
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/filtered.layout.resfiles.intermediate
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/filtered.layout.resfiles
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/excluded.layout.resfiles.intermediate
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/excluded.layout.resfiles
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/embed/embed.resfiles.intermediate
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Release/embed/embed.resfiles
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/VideoView.obj
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/vc143.pdb
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/vc143.idb
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/unfiltered.layout.resfiles.intermediate
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/unfiltered.layout.resfiles
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/resources.resfiles.intermediate
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/resources.resfiles
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/ResourceHandlingTask.state
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/qualifiers.txt.intermediate
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/qualifiers.txt
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/ProjectArchitectures.txt
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/priconfig.xml.intermediate
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/priconfig.xml
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/pri.resfiles.intermediate
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/pri.resfiles
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/pch.obj
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MultipleQualifiersPerDimensionFound.txt
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlayer.obj
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative/resources.pri
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative/MEPlaybackNative.winmd
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative/MEPlaybackNative.pdb
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative/MEPlaybackNative.exe
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative/MEPlaybackNative.build.appxrecipe
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative/AppxManifest.xml
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative/AppX/vs.appxrecipe
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative/AppX/ucrtbased.dll
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative/AppX/storeLogo-sdk.png
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative/AppX/squareTile-sdk.png
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative/AppX/Splash-sdk.png
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative/AppX/smalltile-sdk.png
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative/AppX/resources.pri
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative/AppX/MEPlaybackNative.winmd
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative/AppX/MEPlaybackNative.exe
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative/AppX/AppxManifest.xml
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative.vcxproj.GenerateResource.Cache
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative.vcxproj.FileListAbsolute.txt
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative.vcxproj.AssemblyReference.cache
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative.tlog/MEPlaybackNative.write.1u.tlog
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative.tlog/MEPlaybackNative.read.1u.tlog
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative.tlog/MEPlaybackNative.lastbuildstate
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative.tlog/link.write.1.tlog
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative.tlog/link.read.1.tlog
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative.tlog/link.command.1.tlog
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative.tlog/CL.write.1.tlog
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative.tlog/CL.read.1.tlog
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative.tlog/CL.command.1.tlog
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative.pch
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative.log
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/MEPlaybackNative.ilk
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/Main.obj
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/FrameworkView.obj
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/filtered.layout.resfiles.intermediate
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/filtered.layout.resfiles
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/excluded.layout.resfiles.intermediate
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/excluded.layout.resfiles
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/embed/embed.resfiles.intermediate
002 UWP SDK Media engine native C++ video playback sample (Windows 8)/C++/x64/Debug/embed/embed.resfiles
*.ipch
*.exe
004 DX Offscreen/x64/Debug/Tutorial01.exe.recipe
004 DX Offscreen/x64/Debug/Tutorial01.ilk
004 DX Offscreen/x64/Debug/Tutorial01.obj
004 DX Offscreen/x64/Debug/Tutorial01.pdb
004 DX Offscreen/x64/Debug/Tutorial01.res
004 DX Offscreen/x64/Debug/Tutorial01.tlog/CL.command.1.tlog
004 DX Offscreen/x64/Debug/Tutorial01.tlog/CL.read.1.tlog
004 DX Offscreen/x64/Debug/Tutorial01.tlog/CL.write.1.tlog
004 DX Offscreen/x64/Debug/Tutorial01.tlog/link.command.1.tlog
004 DX Offscreen/x64/Debug/Tutorial01.tlog/link.read.1.tlog
004 DX Offscreen/x64/Debug/Tutorial01.tlog/link.write.1.tlog
004 DX Offscreen/x64/Debug/Tutorial01.tlog/rc.command.1.tlog
004 DX Offscreen/x64/Debug/Tutorial01.tlog/rc.read.1.tlog
004 DX Offscreen/x64/Debug/Tutorial01.tlog/rc.write.1.tlog
004 DX Offscreen/x64/Debug/Tutorial01.tlog/Tutorial01.lastbuildstate
004 DX Offscreen/x64/Debug/Tutorial01_2019.log
004 DX Offscreen/x64/Debug/Tutorial01_2019.vcxproj.FileListAbsolute.txt
004 DX Offscreen/x64/Debug/vc143.idb
004 DX Offscreen/x64/Debug/vc143.pdb
004 DX Offscreen/x64/Release/Tutorial01.exe.recipe
004 DX Offscreen/x64/Release/Tutorial01.iobj
004 DX Offscreen/x64/Release/Tutorial01.ipdb
004 DX Offscreen/x64/Release/Tutorial01.obj
004 DX Offscreen/x64/Release/Tutorial01.res
004 DX Offscreen/x64/Release/Tutorial01.tlog/CL.command.1.tlog
004 DX Offscreen/x64/Release/Tutorial01.tlog/CL.read.1.tlog
004 DX Offscreen/x64/Release/Tutorial01.tlog/CL.write.1.tlog
004 DX Offscreen/x64/Release/Tutorial01.tlog/link.command.1.tlog
004 DX Offscreen/x64/Release/Tutorial01.tlog/link.read.1.tlog
004 DX Offscreen/x64/Release/Tutorial01.tlog/link.write.1.tlog
004 DX Offscreen/x64/Release/Tutorial01.tlog/rc.command.1.tlog
004 DX Offscreen/x64/Release/Tutorial01.tlog/rc.read.1.tlog
004 DX Offscreen/x64/Release/Tutorial01.tlog/rc.write.1.tlog
004 DX Offscreen/x64/Release/Tutorial01.tlog/Tutorial01.lastbuildstate
004 DX Offscreen/x64/Release/Tutorial01_2019.log
004 DX Offscreen/x64/Release/vc143.pdb
005 DX GL Interop/x64/Release/vc143.pdb
005 DX GL Interop/x64/Release/Tutorial01_2019.log
005 DX GL Interop/x64/Release/Tutorial01.tlog/Tutorial01.lastbuildstate
005 DX GL Interop/x64/Release/Tutorial01.tlog/rc.write.1.tlog
005 DX GL Interop/x64/Release/Tutorial01.tlog/rc.read.1.tlog
005 DX GL Interop/x64/Release/Tutorial01.tlog/rc.command.1.tlog
005 DX GL Interop/x64/Release/Tutorial01.tlog/link.write.1.tlog
005 DX GL Interop/x64/Release/Tutorial01.tlog/link.read.1.tlog
005 DX GL Interop/x64/Release/Tutorial01.tlog/link.command.1.tlog
005 DX GL Interop/x64/Release/Tutorial01.tlog/CL.write.1.tlog
005 DX GL Interop/x64/Release/Tutorial01.tlog/CL.read.1.tlog
005 DX GL Interop/x64/Release/Tutorial01.tlog/CL.command.1.tlog
005 DX GL Interop/x64/Release/Tutorial01.res
005 DX GL Interop/x64/Release/Tutorial01.obj
005 DX GL Interop/x64/Release/Tutorial01.ipdb
005 DX GL Interop/x64/Release/Tutorial01.iobj
005 DX GL Interop/x64/Release/Tutorial01.exe.recipe
005 DX GL Interop/x64/Debug/vc143.pdb
005 DX GL Interop/x64/Debug/vc143.idb
005 DX GL Interop/x64/Debug/Tutorial01_2019.vcxproj.FileListAbsolute.txt
005 DX GL Interop/x64/Debug/Tutorial01_2019.log
005 DX GL Interop/x64/Debug/Tutorial01.tlog/unsuccessfulbuild
005 DX GL Interop/x64/Debug/Tutorial01.tlog/Tutorial01.lastbuildstate
005 DX GL Interop/x64/Debug/Tutorial01.tlog/rc.write.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/rc.read.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/rc.command.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/link.write.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/link.read.2.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/link.read.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/link.command.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/link.10432.write.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/link.10432.read.2.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/link.10432.read.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/link.10432-rc.write.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/link.10432-rc.read.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/link.10432-mt.write.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/link.10432-mt.read.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/link.10432-cvtres.write.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/link.10432-cvtres.read.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/link-rc.write.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/link-rc.read.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/link-mt.write.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/link-mt.read.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/link-cvtres.write.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/link-cvtres.read.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/CL.write.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/CL.read.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.tlog/CL.command.1.tlog
005 DX GL Interop/x64/Debug/Tutorial01.res
005 DX GL Interop/x64/Debug/Tutorial01.pdb
005 DX GL Interop/x64/Debug/Tutorial01.obj
005 DX GL Interop/x64/Debug/Tutorial01.exe.recipe
005 DX GL Interop/Debug/Tutorial01.ilk
005 DX GL Interop/Debug/Tutorial01.obj
005 DX GL Interop/Debug/Tutorial01.pdb
005 DX GL Interop/Debug/Tutorial01.tlog/link.read.1.tlog
005 DX GL Interop/Debug/Tutorial01_2019.log
005 DX GL Interop/Debug/vc143.idb
005 DX GL Interop/Debug/vc143.pdb
005 DX GL Interop/.vs/Tutorial01_2019/v17/Browse.VC.db
005 DX GL Interop/.vs/Tutorial01_2019/v17/.suo
005 DX GL Interop/Debug/vc143.pdb
005 DX GL Interop/Debug/vc143.idb
005 DX GL Interop/Debug/Tutorial01_2019.log
005 DX GL Interop/Debug/Tutorial01.tlog/link.read.1.tlog
005 DX GL Interop/Debug/Tutorial01.pdb
005 DX GL Interop/Debug/Tutorial01.obj
005 DX GL Interop/Debug/Tutorial01.ilk
005 DX GL Interop/.vs/Tutorial01_2019/v17/Browse.VC.db
005 DX GL Interop/.vs/Tutorial01_2019/v17/.suo
005 DX GL Interop/.vs/Tutorial01_2019/v17/.suo
005 DX GL Interop/.vs/Tutorial01_2019/v17/Browse.VC.db
005 DX GL Interop/Debug/Tutorial01.ilk
006 Header Lib/x64/Release/vc143.pdb
006 Header Lib/x64/Release/Tutorial01_2019.log
006 Header Lib/x64/Release/Tutorial01.tlog/Tutorial01.lastbuildstate
006 Header Lib/x64/Release/Tutorial01.tlog/rc.write.1.tlog
006 Header Lib/x64/Release/Tutorial01.tlog/rc.read.1.tlog
006 Header Lib/x64/Release/Tutorial01.tlog/rc.command.1.tlog
006 Header Lib/x64/Release/Tutorial01.tlog/link.write.1.tlog
006 Header Lib/x64/Release/Tutorial01.tlog/link.read.1.tlog
006 Header Lib/x64/Release/Tutorial01.tlog/link.command.1.tlog
006 Header Lib/x64/Release/Tutorial01.tlog/CL.write.1.tlog
006 Header Lib/x64/Release/Tutorial01.tlog/CL.read.1.tlog
006 Header Lib/x64/Release/Tutorial01.tlog/CL.command.1.tlog
006 Header Lib/x64/Release/Tutorial01.res
006 Header Lib/x64/Release/Tutorial01.obj
006 Header Lib/x64/Release/Tutorial01.ipdb
006 Header Lib/x64/Release/Tutorial01.iobj
006 Header Lib/x64/Release/Tutorial01.exe.recipe
006 Header Lib/x64/Debug/vc143.pdb
006 Header Lib/x64/Debug/vc143.idb
006 Header Lib/x64/Debug/Tutorial01_2019.vcxproj.FileListAbsolute.txt
006 Header Lib/x64/Debug/Tutorial01_2019.log
006 Header Lib/x64/Debug/Tutorial01.tlog/unsuccessfulbuild
006 Header Lib/x64/Debug/Tutorial01.tlog/Tutorial01.lastbuildstate
006 Header Lib/x64/Debug/Tutorial01.tlog/rc.write.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/rc.read.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/rc.command.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/link.write.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/link.read.2.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/link.read.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/link.command.1.tlog
006 Header Lib/x64/Debug/Tutorial01.exe.recipe
006 Header Lib/x64/Debug/Tutorial01.obj
006 Header Lib/x64/Debug/Tutorial01.pdb
006 Header Lib/x64/Debug/Tutorial01.res
006 Header Lib/x64/Debug/Tutorial01.tlog/CL.command.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/CL.read.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/CL.write.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/link-cvtres.read.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/link-cvtres.write.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/link-mt.read.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/link-mt.write.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/link-rc.read.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/link-rc.write.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/link.10432-cvtres.read.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/link.10432-cvtres.write.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/link.10432-mt.read.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/link.10432-mt.write.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/link.10432-rc.read.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/link.10432-rc.write.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/link.10432.read.1.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/link.10432.read.2.tlog
006 Header Lib/x64/Debug/Tutorial01.tlog/link.10432.write.1.tlog
005 DX GL Interop/fireworks_full.mp4
006 Header Lib/Debug/vc143.pdb
006 Header Lib/Debug/vc143.idb
006 Header Lib/Debug/Tutorial01_2019.vcxproj.FileListAbsolute.txt
006 Header Lib/Debug/Tutorial01_2019.log
006 Header Lib/Debug/Tutorial01.tlog/unsuccessfulbuild
006 Header Lib/Debug/Tutorial01.tlog/Tutorial01.lastbuildstate
006 Header Lib/Debug/Tutorial01.tlog/rc.write.1.tlog
006 Header Lib/Debug/Tutorial01.tlog/rc.read.1.tlog
006 Header Lib/Debug/Tutorial01.tlog/rc.command.1.tlog
006 Header Lib/Debug/Tutorial01.tlog/link.write.1.tlog
006 Header Lib/Debug/Tutorial01.tlog/link.read.1.tlog
006 Header Lib/Debug/Tutorial01.tlog/link.command.1.tlog
006 Header Lib/Debug/Tutorial01.tlog/CL.write.1.tlog
006 Header Lib/fireworks_full.mp4
006 Header Lib/Debug/Tutorial01.tlog/CL.read.1.tlog
006 Header Lib/Debug/Tutorial01.tlog/CL.command.1.tlog
006 Header Lib/Debug/Tutorial01.res
006 Header Lib/Debug/Tutorial01.pdb
006 Header Lib/Debug/Tutorial01.ilk
006 Header Lib/Debug/Tutorial01.exe.recipe
005 DX GL Interop/Debug/vc143.pdb
005 DX GL Interop/Debug/vc143.idb
005 DX GL Interop/Debug/Tutorial01_2019.log
005 DX GL Interop/Debug/Tutorial01.pdb
005 DX GL Interop/Debug/Tutorial01.obj
005 DX GL Interop/Debug/Tutorial01.ilk
006 Header Lib/Debug/Tutorial01.obj
005 DX GL Interop/.vs/Tutorial01_2019/v17/Browse.VC.opendb
005 DX GL Interop/.vs/Tutorial01_2019/v17/Browse.VC.db-wal
005 DX GL Interop/.vs/Tutorial01_2019/v17/Browse.VC.db-shm
005 DX GL Interop/.vs/Tutorial01_2019/v17/Browse.VC.db
005 DX GL Interop/.vs/Tutorial01_2019/v17/.suo
005 DX GL Interop/.vs/Tutorial01_2019/v17/.suo
005 DX GL Interop/.vs/Tutorial01_2019/v17/Browse.VC.db
005 DX GL Interop/Debug/Tutorial01.ilk
005 DX GL Interop/Debug/Tutorial01.obj
005 DX GL Interop/Debug/Tutorial01.pdb
005 DX GL Interop/Debug/Tutorial01_2019.log
005 DX GL Interop/Debug/vc143.idb
005 DX GL Interop/Debug/vc143.pdb
006 Header Lib/.vs/Tutorial01_2019/v17/.suo
006 Header Lib/.vs/Tutorial01_2019/v17/Browse.VC.db
